.Theme__wrapper{
position: fixed;
top:50%;
z-index: 1000;
right: 0;

    &__icon{
        position: relative;
        width: 40px;
        height: 40px;
        z-index: 9;
        bottom: 0px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
      
    svg{
        color: var(--selected-theme-main-color);
        animation: spinAnimate 4s linear infinite;
    }
    }
    &__item{
      
        width: 0;
    height: 57px;
    transition: all 0.8s ease;
    background-color: #ffffff;
    
         &.active{
        width: 146px!important;;
        }
    }

}
@keyframes spinAnimate {
    from{
        transform:rotate(0)
    }
    to{
        transform: rotate(360deg);
    }
}
